.main{
    height: auto;
    width: 100%;
}


.triangle1{
    width: 100%;
    height: 50vh;
    padding: 16px;
    font-size: 26px;
    color: black;
    font-weight: 400;
}


.triangle1::after {
    content: '';
    border-top: 40vh solid #008ce6;
    border-right: 100vw solid transparent;
    width: 0;
    z-index: -2;
    position: absolute;
    left: 0px;
    top: 0px
}

.triangle1::before {
    content: ' ';
    border-top: 30vh solid #c5346d;
    border-right: 90vw solid transparent;
    width: 0;
    position: absolute;
    left: 0px;
    z-index: -1;
    top: 0px
}

.box1{
    color: white;
    font-size: 26px;
    z-index: -1;
}
.box1::after {
    content: '';
    border-top: 40vh solid #008ce6;
    border-right: 100vw solid transparent;
    width: 0;
    z-index: -1;
    position: absolute;
}
.box1text{
    color: black;
    font-size: 26px;
    z-index: 10;
}


.box2::after {
    content: ' ';
    border-top: 50vh solid #c5346d;
    border-right: 60vw solid transparent;
    width: 0;
    position: absolute;
}


.triangle2{
    width: 100%;
    height: 50vh;
    background-color: plum;
    z-index: 0;
}

.box3::after {
    content: ' ';
    border-width: 25vh 50vw 25vh 50vw;
    border-style: solid;
    border-color: #008ce6  #8a2be2 #008ce6 #8a2be2;
    width: 0;
    position: absolute;
    z-index: 2;
}

.triangle3{
    width: 100%;
    height: 50vh;
    background-color: #E6EBE0;
    position: relative;
    z-index: 0;
}

.text-box{
    font-weight: 800;
    color: #0D1F2D;
    font-size: 26px;
    /* background-color: burlywood; */
    padding: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.box4{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0;
    border-width: 50vh 50vw 0px 0px;
    border-style: solid;
    border-color: #9bc1bc transparent transparent transparent;
    z-index: -1;
    transition: border-width .5s;
}

.box5{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0;
    border-width: 40vh 40vw 0px 0px;
    border-style: solid;
    border-color: #F4F1BB transparent transparent transparent;
    z-index: -1;
    transition: border-width .5s;
}

.box6{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 0;
    border-width: 25vh 25vw 0px 0px;
    border-style: solid;
    border-color: #ED6A5A transparent transparent transparent;
    z-index: -1;
    transition: border-width .5s;
}

.box7{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 0;
    border-width: 0px 0px 40vh 25vw ;
    border-style: solid;
    border-color: transparent transparent #36c9c6 transparent;
    z-index: -1;
    transition: border-width .5s;
}

.triangle3:hover .box4{
    border-width: 50vh 0px 0px 0px;
}
.triangle3:hover .box5{
    border-width: 0px 40vw 0px 0px;
}
.triangle3:hover .box6{
    border-width: 25vh 0px 0px 0px;
}
.triangle3:hover .box7{
    border-width: 0px 0px 0px 40vh;
}